{% extends "base_shop_manager.html" %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'shop_manager/css/order_management.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/order.css' %}">
{% endblock stylesheet %}

{% block tabs %}
  <li><a href="{% url 'shop_manager:shop-manage' %}">菜品管理</a></li>
  <li class="active"><a href="">订单管理</a></li>
{% endblock tabs %}

{% block managecontent %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>当前新订单</h3>
    </div>
    <div class="panel-body">
      {% for order in new_orders %}
        <h4 class="order-title">
          <span class="glyphicon glyphicon-cutlery"></span>  来自 {{ order.customer }} 的订单
          <small>{{ order.time }}</small>
        </h4>
        {% for food in order.food_list.all %}
          <span class="food">{{ food.name }}</span>     
        {% endfor %}
        <br><br>
        <a class="btn-sm btn-primary accept-order" href="{% url 'shop_manager:accept-order' order.id %}">接单</a></p>
      {% empty %}
        <p>暂无新订单</p>
      {% endfor %}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>已接受的订单</h3>
    </div>
    <div class="panel-body">
      {% for order in accepted_orders %}
        <h4 style="margin: 20px 0;"><span class="glyphicon glyphicon-cutlery"></span>  来自 {{ order.customer }} 的订单 <small>{{ order.time }}</small></h4>
        {% for food in order.food_list.all %}
          <span class="food">{{ food.name }}</span>     
        {% endfor %}
        <br><br>
      {% empty %}
        <p>暂无新订单</p>
      {% endfor %}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>已完成的订单</h3>
    </div>
    <div class="panel-body">
      {% for order in finished_orders %}
        <h4 style="margin: 20px 0;"><span class="glyphicon glyphicon-cutlery"></span>  来自 {{ order.customer }} 的订单 <small>{{ order.time }}</small></h4>
      {% for food in order.food_list.all %}
        <span class="food">{{ food.name }}</span>     
      {% endfor %}
        <br><br>
      {% empty %}
        <p>暂无新订单</p>
      {% endfor %}
    </div>
  </div>
{% endblock managecontent %}
