{% extends "base_shop_manager.html" %}

{% block content %}
  <h2>当前新订单</h2>
  {% for order in new_orders %}
    <li>
      <b>来自 {{ order.customer }} 的订单 ({{ order.time }})</b><br>
      <small>
        {% for food in order.food_list.all %}
          {{ food.name }}  
        {% endfor %}
      </small>
      <p><a href="{% url 'shop_manager:accept-order' order.id %}">接单</a></p>
    </li>
  {% empty %}
    <p>暂无新订单</p>
  {% endfor %}

  <h2>已接受的订单</h2>
  {% for order in accepted_orders %}
    <li>
      <b>来自 {{ order.customer }} 的订单 ({{ order.time }})</b><br>
      <small>
        {% for food in order.food_list.all %}
          {{ food.name }}  
        {% endfor %}
      </small>
    </li>
  {% empty %}
    <p>暂无订单</p>
  {% endfor %}

  <h2>已完成的订单</h2>
  {% for order in finished_orders %}
    <li>
      <b>来自 {{ order.customer }} 的订单 ({{ order.time }})</b><br>
      <small>
        {% for food in order.food_list.all %}
          {{ food.name }}  
        {% endfor %}
      </small>
    </li>
  {% empty %}
    <p>暂无订单</p>
  {% endfor %}
{% endblock content %}