{% extends "shop_manager_base.html" %}

{% block content %}

  <a href="{% url 'shop_manager:new-food' %}">添加菜品</a> - 
  <a href="{% url 'shop_manager:order-management' %}">订单管理</a>

  <p>当前菜品</p>
  {% for food in foods %}
    <li>
        <img src="{{ food.photo.url }}" height="50" width="50" />
        <p>{{ food.name }}</p>
        <p>￥{{ food.price }}</p>
        <small>共销售{{ food.sale_num }}单</small>
        <small><a href="">编辑菜品</a></small>
    </li>
  {% empty %}
    <p>您尚未添加任何待销售的菜品</p>
  {% endfor %}
{% endblock content %}
