footer {
    background-color: #000;
    color: #fff;
    padding: 50px;
}

a#powerformer:hover {
    text-decoration: none;
    color: red;
}

.shop-panel {
    transition: box-shadow 0.5s;
}

.shop-panel:hover {
    box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
}