{% extends "base_market.html" %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/order.css' %}">
{% endblock stylesheet %}

{% block content %}
  <div class="page-header text-center">
    <h2>我的订单</h2>
  </div>

  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h3>商家待接单</h3>
      </div>
      <div class="panel-body">
        {% for order in paid_orders %}
          <h4 class="order-title">
            <span class="glyphicon glyphicon-cutlery"></span>
            {{ order.get_seller }}的订单 <small>{{ order.time }}</small>
          </h4>
          {% for food in order.food_list.all %}
            <span class="food">{{ food.name }}</span>
          {% endfor %}
        {% empty %}
          <p>暂无</p>
        {% endfor %}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h3>正在配送</h3>
      </div>
      <div class="panel-body">
        {% for order in accepted_orders %}
          <h4 class="order-title">
            <span class="glyphicon glyphicon-cutlery"></span>
            {{ order.get_seller }}的订单 <small>{{ order.time }}</small>
          </h4>
          {% for food in order.food_list.all %}
            <span class="food">{{ food.name }}</span>
          {% endfor %}
        <br><br>
        <a href="{% url 'market:finish-order' order.id %}" class="btn btn-primary">确认收货</a>
        {% empty %}
          <p>暂无</p>
        {% endfor %}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h3>已完成的订单</h3>
      </div>
      <div class="panel-body">
        {% for order in finished_orders %}
          <h4 class="order-title">
            <span class="glyphicon glyphicon-cutlery"></span>
            {{ order.get_seller }}的订单 <small>{{ order.time }}</small>
          </h4>
          {% for food in order.food_list.all %}
            <span class="food">{{ food.name }}</span>
          {% endfor %}
        <br><br>
        {% if not order.has_commented %}
          <a class="btn btn-primary" href="{% url 'market:comment' order.id %}">评价</a>
        {% endif %}
        {% empty %}
          <p>暂无</p>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}