{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
{% endblock stylesheet %}

{% block content %}
  <div class="page-header text-center">
    <h2>开店</h2>
  </div>

  <form class="form-horizontal myform" role="form" enctype="multipart/form-data" action="{% url 'market:new-shop' %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}

    <div class="text-center">
      <button type="submit" class="btn-lg btn-primary submit-button">确认</button>
    </div>
  </form>
{% endblock content %}
