{% extends "base_market.html" %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'market/css/order_detail.css' %}">
{% endblock stylesheet %}

{% block content %}
  <div class="page-header text-center">
    <h2>订单详情</h2>
  </div>

  <form action="{% url 'market:pay' %}" method="post" class="order-form text-center">
    {% csrf_token %}
    {% for food in food_list %}
      <input type="hidden" name="{{ food.name }}" value="{{ food.id }}" />
      <div class="row foodlist-item">
        <div class="col-md-6" style="text-align: right;">
          <img class="img-circle" src="{{ food.photo.url }}" alt="photo" width="80" height="80">
        </div>
        <div class="col-md-6" style="text-align: left;">
          <h3>{{ food.name }} <small>￥{{ food.price }}</small></h3>
        </div>
      </div>
    {% endfor %}
    <hr>
    <h2 style="margin: 50px;">总价: ￥{{ total_price }}</h2>
    <button type="submit" class="btn-lg btn-primary">支付</button>
  </form>
{% endblock content %}