{% extends "base_market.html" %}

{% block content %}
  <h2>欢迎来到{{ shop.name }}!</h2>

  <form action="{% url 'market:checkout' %}" method="post">
    {% csrf_token %}
    {% for food in foods %}
    <li>
      <input type="checkbox" name="{{ food.name }}" value="{{ food.id }}">
      <img src="{{ food.photo.url }}" height="50" width="50" />
      <p>{{ food.name }}</p>
      <p>￥{{ food.price }}</p>
      <small>共销售{{ food.sale_num }}单</small>
    </li>
    {% empty %}
      <p>这家店什么吃的都没！</p>
    {% endfor %}
    <input type="submit" value="下单">
  </form>

  <h2>用户评论</h2>
  {% for comment in comments %}
    <li>
      {{ comment.body }}<br>
      <small>{{ comment.customer }} 于 {{ comment.add_time }} 评论</small>
    </li>
  {% empty %}
    <p>暂无评论</p>
  {% endfor %}

{% endblock content %}