{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>汤姆叔叔的能量站</title>

  {% bootstrap_css %}
  {% bootstrap_javascript %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  {% block stylesheet %}
  {% endblock stylesheet %}

  <script>
    function mOver(obj) {
        obj.src = "{% static 'img/logo-hover.png' %}";
    }

    function mOut(obj) {
        obj.src = "{% static 'img/logo.png' %}";
    }
  </script>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-static-top" style="margin-bottom: 0;">
    <div class="container">
    
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-target="#navbar"
            aria-expanded="false" aria-controls="navbar">
        </button>
        <a href="{% url 'market:home' %}" class="navbar-brand">
            <img src="{% static 'img/logo.png' %}" alt="logo" height="24px" width="24px"
                onmouseover="mOver(this)" onmouseout="mOut(this)">
        </a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'market:my-orders' %}">我的订单</a></li>
        </ul>

        <ul class="nav navbar-nav">
          <li>{% block shop_manage %}{% endblock shop_manage %}</li>
        </ul>
      
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <li><a>欢迎, {{ user.username }}.</a></li>
            <li><a href="{% url 'users:logout' %}">注销</a></li>
          {% else %}
            <li><a href="{% url 'users:register' %}">注册</a></li>
            <li><a href="{% url 'users:login' %}">登录</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  {% block content %} {% endblock content %}

  <footer class="container-fluid text-center">
    <h3>Powered by <a id="powerformer" href="http://powerformer.com">Powerformer Inc.</a></h3>
  </footer>
</body>
</html>